.nen1{
    background-color: #00a19b;
    padding: 1px 10px;
    width: 11rem;
}
.nen2{
    background-color: #c6edec;
    padding: 20px 10px;
    width: 11rem;
}
/* ---------------------------------- */
table{
    text-align: center;
    border-collapse: collapse;
}

table tr{
    border: 1px solid #d3d3d3;
    width: 10rem;
}
table tr th{
    padding: 25px;
    background-color: #d3d3d3;
}
table tr td{
    padding: 25px;
}
.mau{
    color: red;
}
a{
    text-decoration: none;
}
.sl{
    text-align: center;
    width: 50px;
}