table{
    text-align: right;
    border-collapse: collapse;
}
table tr th{
    width: 10rem;
    border: 1px solid grey;
    padding: 4px 8px;
    background-color: #f2f2f2;
}
table tr th:first-child{
    width: 30px;
    text-align: center;
}
table tr th:nth-child(5){
    width: 15rem;
    text-align: center;
}
table tr th:last-child{   
    text-align: center;
    width: 7rem;
}
table tr td{
    padding: 8px;
    width: 10rem;
    border: 1px solid grey;
}
table tr td:first-child{
    width: 30px;
    text-align: center;
}
table tr td:nth-child(5){
    width: 15rem;
    text-align: left;
}
table tr td:last-child{
    text-align: center;
    width: 7rem;
}
.del{
    cursor: pointer;
}