*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html, body {
	height:100%;
}
body {
	width: 100%;
	background: #626262;
	overflow: hidden;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	background-image: url(../img/nen.png);
	background-size: cover;
}
.ctner {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 576px) {
	.ctner {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.ctner {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.ctner {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.ctner {
		max-width: 1010px;
	}
}
@font-face {
	font-family: Play-R;
	src: url(../font/Play-Regular.ttf);
}
@font-face {
	font-family: Brush-Up;
	src: url(../font/iCiel Brush Up.ttf);
}
a{
	text-decoration: none;
}
.home{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	font-family: Brush-Up;
}
.home h1{
	padding-top: 25%;
}
.menu{
	font-family: Play-R;
	position: absolute;
	z-index: 2000;
	background-color: #181818;
	width: 4%;
	height: 100%;
	position: absolute;
	z-index: 2000;
}
.menu ul li a img{
	width: 77%;
}
.menu ul li:first-child{
	background-color: #0098a6;
}
.menu ul li{
	text-align: center;
	display: block;
}
.menu ul li a{
	color: #a9a9a9;
}
.menu ul li a img{
	padding-top: 20%;
}
.menu ul li a i{
	position: relative;
	padding-top: 20%;
	border-bottom: 1.5px solid #181818;
	transition: 1s;
}
.menu ul li a span{
	padding: 2% 20%;
}
.menu ul li a .menu1{
	position: absolute;
	opacity: 0;
	color: #fff;
	font-size: 99%;
	left: 102%;
	transition: 0.3s;
	margin-top: 32%;
	background-color: #181818;
	pointer-events: none;
	border-radius: 4px;
}
.menu ul li a .menu1:after{
	content:"";
	margin-top: 3.5%;
	left: -8%;
	position: absolute;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #181818;
}
.menu ul li a:hover {
	color: #fff;
}
.menu ul li a:hover i{
	border-bottom: 1.5px solid #00CCFF;
}
.menu ul li a:hover .menu1{
	opacity: 1;
	left: 117%;
}
.menu ul li:nth-child(8){
	padding-top: 460%;
}
.menu ul li:nth-child(9),li:nth-child(10),li:nth-child(11){
	padding-top: 20%;
}
.mxh{
	text-align: center;
	color: #fff;
	font-size: 150%;
}
.mxh:hover {
	color: #00ccff !important;
}
.mxh span{
	padding-top: 20%;
}
.panel{
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: -200%; /*chiều chạy div*/
	position: absolute;
	background: #000;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2;
	-webkit-transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	-o-transition: all .9s ease-in-out;
	transition: all .9s ease-in-out;
}
.panel:target{
	margin-left: 0%; /*chiều chạy div*/
	background-color: #ffcb00;
}
