table{
    border-collapse: collapse;
}
table tr th{
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid grey;
}
table tr th:nth-child(2){
    width: 10rem;
}
table tr th:nth-child(3){
    width: 10rem;
}
table tr td{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
}